[Unit]
Description=Neko Desktop 悬浮置顶组件
After=neko-core.service

[Service]
Type=simple
Environment=QT_QPA_PLATFORM=xcb
Environment=DISPLAY=__DISPLAY__
Environment=QML_XHR_ALLOW_FILE_READ=1
Environment=QT_IM_MODULE=fcitx
Environment=XMODIFIERS=@im=fcitx
Environment=GTK_IM_MODULE=fcitx
Environment=XBUS_SESSION_BUS_ADDRESS_IGNORE=1
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/usr/bin/qml6 %h/.config/neko-desktop/overlay/main.qml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
